<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Hello, World Application</display-name>
    <description>
	This is a simple web application with a source code organization
	based on the recommendations of the Application Developer's Guide.
    </description>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>mypackage.Hello</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <dependency>
    <groupId>javax.servlet</groupId>
    <artifactId>jstl</artifactId>
    <version>1.2</version>
	</dependency>
	   <dependency>
    <groupId>javax.servlet</groupId>
    <artifactId>jstl-impl-1.2</artifactId>
    <version>1.2</version>
	</dependency>
    <dependency>
       <groupId>javax.servlet</groupId>
    <artifactId>jstl-api-1.2</artifactId>
    <version>1.2</version>
	</dependency>
    <dependency>
    <groupId>jsptags</groupId>
    <artifactId>pager-taglib</artifactId>
    <version>2.0</version>
	</dependency>
</web-app>
